{% extends 'base.html' %}
{% load static %}
{% block title %}
HOTELIVA | Home
{% endblock %}
{% block body %}
<div id="booking-history" class="card">
    <div class="card-body">
        <h1 class="card-title">Booking History</h3>
            <div class="booking">
                <table cellspacing="10px" cellpadding="10px" class="">
                    <tr>
                        <td>BOOKING ID</td>
                        <td>9082</td>
                    </tr>
                    <tr>
                        <td>HOTEL NAME</td>
                        <td>abc@gmail.com</td>
                    </tr>
                    <tr>
                        <td>DATE</td>
                        <td>15/1/24</td>
                    </tr>
                </table>
            </div>
    </div>
</div>
{% endblock %}