{% extends 'base.html' %}
{% load static %}
{% block title %}
HOTELIVA | Profile
{% endblock %}
{% block body %}

<div class="container mt-5 mb-5">
    <div class="row">
        <!-- Sidebar/Navigation -->
        <div class="col-md-4 leftbar">
            <div class="card">
                <div class="card-body">
                    <!--Avatar-->
                    <div class="mb-3">
                        <div class="d-flex justify-content-center mb-4 avatar">
                            {% if not is_current_user %}
                            <img src="{% static 'images/user1 (1).png' %}" class="rounded-circle"
                                style="width: 200px; height: 200px; object-fit: cover;" alt="">

                            {% else %}

                            <img src="{{profile.profilePic.url}}" alt="" class="rounded-circle"
                                style="width: 200px; height: 200px; object-fit: cover;">
                            {% endif %}
                        </div>
                    </div>
                    <nav class="sidebar">
                        <a href="#personal-details" class="active">
                            <span>
                                <i class="bi bi-person-fill"></i>
                                <span>Profile </span>
                            </span>
                        </a>
                        <a href="#login-details">
                            <span>
                                <i class="bi bi-box-arrow-in-left"></i>
                                <span>Login Details</span>
                            </span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Content Area -->
        <div class="col-md-8">
            <div class="card mb-4" id="personal-details">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h3 class="card-title">Profile</h3>
                            <p>Basic info, for a faster booking experience</p>
                        </div>
                        <div class="col-md-3">
                            {% if is_current_user %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#editprofile"
                                class="btn btn-primary editprofile"><i class="bi bi-pencil"></i> Edit Profile</a>
                            {% else %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#profile"
                                class="btn btn-primary createprofile"><i class="bi bi-plus"></i> Create Profile</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Add your user details form or information here -->
                    <table cellspacing="10px" cellpadding="10px" class="table ">
                        <tr>
                            <td>NAME</td>
                            <th>
                                {{ profile.name }}
                            </th>
                        </tr>
                        <tr>
                            <td>BIRTHDAY</td>
                            <th>
                                {{ profile.dob }}

                            </th>
                        </tr>
                        <tr>
                            <td>GENDER</td>
                            <th>
                                {{ profile.gender }}
                            </th>
                        </tr>
                        <tr>
                            <td>ADDRESS</td>
                            <th>
                                {{ profile.address }}
                            </th>
                        </tr>
                        <tr>
                            <td>PINCODE</td>
                            <th>
                                {{ profile.pincode }}

                            </th>
                        </tr>
                        <tr>
                            <td>STATE</td>
                            <th>
                                {{ profile.state }}
                            </th>
                        </tr>
                    </table>
                    <!-- Add more details as needed -->
                </div>
            </div>
            <div class="modal fade" id="profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style=" background: linear-gradient(145deg, rgba(134, 129, 197, 0.8) 10%,
                        rgba(178, 177, 227, 0.8) 35%, rgba( 54, 182, 224,0.8)100%);">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Create Profile</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data" action="{% url 'createprofile' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name" class="form-label">Full Name</label>
                                            <input type="text" class="form-control" id="name" name="name">
                                        </div><br>
                                        <div class="form-group">
                                            <label for="gender" class="form-label">Gender</label>
                                            <select id="gender" name="gender" class="form-control">
                                                <option value="select"></option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div><br>
                                        <div class="form-group">
                                            <label for="address" class="form-label">Address</label>
                                            <textarea class="form-control" id="address" name="address"></textarea>
                                        </div><br>
                                        <div class="form-group">
                                            <label for="phoneNo" class="form-label">Mobile No.</label>
                                            <input type="text" class="form-control" id="phoneNo" name="phoneNo"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dob" class="form-label">Birthday</label>
                                            <input type="date" class="form-control" id="dob" name="dob">
                                        </div><br>
                                        <div class="form-group">
                                            <label for="pincode" class="form-label">Pincode</label>
                                            <input type="text" class="form-control" id="pincode" name="pincode">
                                        </div><br>
                                        <div class="form-group">
                                            <label for="state" class="form-label">State</label>
                                            <select id="state" name="state" class="form-control">
                                                <option value="select"></option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="Gujrat">Gujarat</option>
                                                <option value="Rajasthar">Rajasthan</option>
                                                <option value="Delhi">Delhi</option>
                                                <option value="Goa">Goa</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Assam">Assam</option>
                                                <option value="West Bengal">West Bengal</option>
                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            </select>
                                        </div><br>
                                        <div class="form-group">
                                            <label for="profilePic" class="form-label">Profile Picture:</label>
                                            <input type="file" id="profilePic" name="profilePic" class="form-control">
                                        </div><br>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">SAVE</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% if is_current_user %}
            <div class="modal fade" id="editprofile" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content"
                        style="background: linear-gradient(145deg, rgba(134, 129, 197, 0.8) 10%, rgba(178, 177, 227, 0.8) 35%, rgba( 54, 182, 224,0.8)100%);">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data"
                                action="{% url 'editprofile' profile.user %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name" class="form-label">Full Name</label>
                                            <input type="text" class="form-control" id="name" name="name"
                                                value="{{ profile.name }}" required>
                                        </div><br>
                                        <div class="form-group">
                                            <label for="gender" class="form-label">Gender</label>
                                            <select id="gender" name="gender" class="form-control" required>
                                                <option value="{{ profile.gender }}">{{ profile.gender }}</option>
                                                <option value="select"></option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div><br>
                                        <div class="form-group">
                                            <label for="address" class="form-label">Address</label>
                                            <textarea class="form-control" id="address" name="address" required>
                                                {{ profile.address }}
                                            </textarea>
                                        </div><br>
                                        <div class="form-group">
                                            <label for="phoneNo" class="form-label">Mobile No.</label>
                                            <input type="text" class="form-control" id="phoneNo" name="phoneNo"
                                                value="{{ profile.phoneNo }}" required>
                                        </div><br>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dob" class="form-label">Birthday</label>
                                            <input type="date" class="form-control" id="dob" name="dob"
                                                value="{{ profile.dob }}" required>
                                        </div><br>
                                        <div class="form-group">
                                            <label for="pincode" class="form-label">Pincode</label>
                                            <input type="text" class="form-control" id="pincode" name="pincode"
                                                value="{{ profile.pincode }}" required>
                                        </div><br>
                                        <div class="form-group">
                                            <label for="state" class="form-label">State</label>
                                            <select id="state" name="state" class="form-control" required>
                                                <option value="{{ profile.state }}">{{ profile.state }}</option>
                                                <option value="select"></option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="Gujrat">Gujarat</option>
                                                <option value="Rajasthan">Rajasthan</option>
                                                <option value="Delhi">Delhi</option>
                                                <option value="Goa">Goa</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Assam">Assam</option>
                                                <option value="West Bengal">West Bengal</option>
                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            </select>

                                        </div><br>
                                        <div class="form-group">
                                            <label for="profilePic" class="form-label">Profile Picture:</label>
                                            <input type="file" id="profilePic" name="profilePic" class="form-control"
                                                value="{{profile.profilePic}}" required>
                                        </div><br>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">SAVE</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div id="login-details" class="card">
                <div class="card-body">
                    <h3 class="card-title">Login Details</h3>
                    <!-- Add your booking history information here -->
                    <p>Manage your email address mobile number and password</p>
                    <table cellspacing="10px" cellpadding="10px" class="table">
                        <tr>
                            <td>MOBILE NUMBER</td>
                            <th>
                                {{ profile.phoneNo }}
                            </th>
                        </tr>
                        <tr>
                            <td>EMAIL ID</td>
                            <th>{{user.email}}</th>
                        </tr>
                        <tr>
                            <td>Uername</td>
                            <th>{{user.username}}</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}