{% extends 'base.html' %}
{% load static %}
{% block title %}
HOTELIVA | Hotels
{% endblock %}
{% block body %}
<div class="row mt-3 p-3">
    <h2 class="mb-4">Search Your Hotels</h2>
    <div class="col-md-12 search-container p-3">
        <form>
            <div class="row g-4">
                <div class="col-md-3 x">
                    <label for="location" class="form-label">City or Location</label>
                    <input type="text" class="form-control search-input-1" id="location" name="location"
                        placeholder="Andheri">
                </div>
                <div class="col-md-3 x">
                    <label for="check-in" class="form-label">Check-in</label>
                    <input type="date" class="form-control search-input" id="check-in" name="check-in">
                </div>
                <div class="col-md-3 x">
                    <label for="check-out" class="form-label">Check-out</label>
                    <input type="date" class="form-control search-input" id="check-out" name="check-out">
                </div>
                <div class="col-md-3 x" style="border: none;">
                    <label for="guest_room" class="form-label">Guests & Rooms</label>
                    <input type="number" class="form-control search-input" id="guest_room" name="Guests"
                        placeholder=" 2 Guests 1 Rooms">
                </div>
            </div>

            <div class="mt-4 p-2" style="margin-left: 42%;">
                <button type="button" class="btn btn-primary search-button">Search</button>
            </div>
        </form>
    </div>
</div>
<br>
<h1>Search Results for {{ loc }}</h1>
{% for hotel in hotels %}
<div class="row mt-3 p-2 mb-3 hotel">
    <div class="col-md-4 mt-3 p-3">
        <img src="{{ hotel.image.url }}" class="card-img-top" alt="image" width="100%" height="250px">
    </div>
    <div class="col-md-8 mt-3 p-3">
        <div class="card-body">
            <h5 class="card-title">{{ hotel.hotel_name }}</h5>
            <p class="card-text">{{ hotel.desc }}</p>
            <p class="card-text">{{ hotel.category }}</p>
            <p class="card-text">₹{{ hotel.price }} / Per Night</p>
            <p class="card-text">8.9 - Excellent (2839 reviews)</p>
        </div>
        <br>
        <a href="/viewRoom"><button type="button" class="btn btn-primary">View Rooms</button></a>
        <a href="/"><button type="button" class="btn btn-primary">Back</button></a>
    </div>
</div>
{% endfor %}
{% endblock %}